/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align:center;
  margin-top:15em;
  background-color: rgb(255, 245, 245);

}
/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
